:root {
  --checkbox-w: 1.125rem;
  --checkbox-h: 1.125rem;
  --checkbox-br: 0.25rem;
  --checbkox-checkmark-w: 4px;
  --checbkox-checkmark-h: 9px;
  --checbkox-checkmark-bw: 0 0.165rem 0.165rem 0;
}
