.button {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;

  &--sm {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-h6);
  }

  &--md {
    padding: 0.75rem 1.5rem;
    font-size: var(--font-size-h4);
  }

  &--lg {
    padding: 1rem 2rem;
    font-size: var(--font-size-h2);
  }

  &--primary {
    color: var(--color-white);
    background-color: var(--color-primary-600);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-primary-700);
      }
    }
  }

  &--secondary {
    color: var(--color-gray);
    background-color: var(--color-secondary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-crayola);
      }
    }
  }

  &--outlined {
    color: var(--color-primary-700);
    font-weight: var(--font-weight-medium);
    background-color: transparent;
    border: 0.15rem solid var(--color-primary-700);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-light-blue);
      }
    }
  }

  &--link {
    color: var(--color-primary-700);
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
    pointer-events: none;
  }
}
