@font-face {
  font-weight: 300;
  font-family: 'Afacad Flux', system-ui, sans-serif;
  font-style: normal;
  src: url('@/assets/fonts/AfacadFlux-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Afacad Flux', system-ui, sans-serif;
  font-style: normal;
  src: url('@/assets/fonts/AfacadFlux-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Afacad Flux', system-ui, sans-serif;
  font-style: normal;
  src: url('@/assets/fonts/AfacadFlux-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Afacad Flux', system-ui, sans-serif;
  font-style: normal;
  src: url('@/assets/fonts/AfacadFlux-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Afacad Flux', system-ui, sans-serif;
  font-style: normal;
  src: url('@/assets/fonts/AfacadFlux-Bold.woff') format('woff');
  font-display: swap;
}
