:root {
  // #colors
  --color-primary-50: #e3f2ff;
  --color-primary-100: #bbdeff;
  --color-primary-200: #8dcaff;
  --color-primary-300: #5cb5ff;
  --color-primary-400: #34a4ff;
  --color-primary-500: #0095ff;
  --color-primary-600: #1386fc;
  --color-primary-700: #1a73e8;
  --color-secondary-50: #e8eefb;
  --color-secondary-100: #cad6e6;
  --color-secondary-200: #acbace;
  --color-secondary-300: #8e9eb7;
  --color-secondary-400: #7789a4;
  --color-secondary-500: #607593;
  --color-secondary-600: #526782;
  --color-secondary-700: #42546b;
  --color-secondary-800: #334155;
  --color-secondary-900: #212d3d;
  --color-light-blue: #f5f9ff;
  --color-danger: #ff5252;
  --color-secondary: #f1f5f9;
  --color-crayola: #e2e8f0;
  --color-blue-denim: #185abc;
  --color-white: #fff;
  --color-gray: #334155;
  --border-radius: 0.5rem;
  --color-bs: #e9ecef;
  --color-bs-border: #dee2e6;
  --color-bs-body: #212529;

  // #fonts
  --font-family: 'Afacad Flux', system-ui, sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-size-h6: 0.75rem;
  --font-size-h5: 0.875rem;
  --font-size-h4: 1rem;
  --font-size-h3: 1.125rem;
  --font-size-h2: 1.25rem;
  --font-size-h1: 1.5rem;

  // #general
  --opacity-disabled: 0.75;
  --opacity-hover: 0.85;
  --margin-element: 0.25rem 0.125rem;
}
